<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" (click)="sortById()">
            <div class="sorted-trigger">
              ID
              <i
                class="bi"
                [ngClass]="
                  sortingObj.sortedById
                    ? 'bi-sort-numeric-up'
                    : 'bi-sort-numeric-down'
                "
              ></i>
            </div>
          </th>
          <th scope="col" (click)="sortByName()">
            <div class="sorted-trigger">
              Name
              <i
                class="bi"
                [ngClass]="
                  sortingObj.sortedByName
                    ? 'bi-sort-alpha-up'
                    : 'bi-sort-alpha-down'
                "
              ></i>
            </div>
          </th>
          <th scope="col" (click)="sortByDescr()">
            <div class="sorted-trigger">
              Description
              <i
                class="bi"
                [ngClass]="
                  sortingObj.sortedByDescr
                    ? 'bi-sort-alpha-up'
                    : 'bi-sort-alpha-down'
                "
              ></i>
            </div>
          </th>
          <th scope="col">Picture</th>
          <th scope="col" (click)="sortByPrice()">
            <div class="sorted-trigger">
              Price<i
                class="bi"
                [ngClass]="
                  sortingObj.sortedByPrice
                    ? 'bi-sort-numeric-up'
                    : 'bi-sort-numeric-down'
                "
              ></i>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productItem of productsList; let i = index">
          <th class="align-middle" scope="row">{{ productItem.id }}</th>
          <td class="align-middle">
            <strong>{{ productItem.title }}</strong>
          </td>
          <td class="align-middle">{{ productItem.description }}</td>
          <td class="align-middle">
            <img [src]="productItem?.image" alt="Img" class="img-responsive" />
          </td>
          <td class="align-middle">
            <strong>{{ productItem.price | currency }}</strong>
          </td>
          <td class="align-middle">
            <div>
              <button
                href="/"
                class="bn5"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="onEdit(productItem)"
              >
                Edit
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-window></app-modal-window>
