<div class="row">
  <div class="col-md-12">
    <br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            <div class="id-head" (click)="sortById()">
              ID
              <i
                class="bi"
                [ngClass]="
                  sortingObj.sortedById
                    ? 'bi-sort-numeric-up'
                    : 'bi-sort-numeric-down'
                "
              ></i>
            </div>
          </th>
          <th scope="col" (click)="sortByName()">
            Name
            <i
              class="bi"
              [ngClass]="
                sortingObj.sortedByName
                  ? 'bi-sort-alpha-up'
                  : 'bi-sort-alpha-down'
              "
            ></i>
          </th>
          <th scope="col" (click)="sortByDescr()">
            Description
            <i
              class="bi"
              [ngClass]="
                sortingObj.sortedByDescr
                  ? 'bi-sort-alpha-up'
                  : 'bi-sort-alpha-down'
              "
            ></i>
          </th>
          <th scope="col">Picture</th>
          <th scope="col" (click)="sortByPrice()">
            Price<i
              class="bi"
              [ngClass]="
                sortingObj.sortedByPrice
                  ? 'bi-sort-numeric-up'
                  : 'bi-sort-numeric-down'
              "
            ></i>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let productItem of productsList; let i = index">
          <th scope="row">{{ productItem.id }}</th>
          <td>{{ productItem.title }}</td>
          <td>{{ productItem.description }}</td>
          <td>
            <img
              [src]="productItem?.image"
              alt="Img"
              class="img-responsive"
              style="max-height: 80px"
            />
          </td>
          <td>{{ productItem.price | currency }}</td>
          <td>
            <div class="edit-btn">
              <a
                href="/"
                class="bn5"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="onEdit(productItem)"
                >Edit</a
              >
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-modal-window></app-modal-window>
