.select-pages {
    width: auto;
    color: white;
    background-color: #e14d9c;
}
.pagination > li > a {
    cursor: pointer;
    color: black;
}
.pagination > li.active > a {
    background-color: black;
    color: white;
    border: black;
}
