.pagination > li > a {
    cursor: pointer;
    color: black;
}
.pagination > li.active > a {
    background-color: black;
    color: white;
    border: black;
}
.select-pages {
    width: auto;
    color: white;
    background-color: #e14d9c;
    option {
        background-color: white;
        color: black;
    }
    option:checked {
        background-color: #e14d9c;
    }
    .option-area:hover {
        background-color: #e14d9c;
    }
}
