<div class="d-flex justify-content-between">
  <div class="col-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            (click)="goToPage(currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          class="page-item"
          [ngClass]="{ active: currentPage == page }"
          *ngFor="let page of pages"
        >
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item">
          <a
            class="page-link"
            (click)="goToPage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <select
      class="form-select select-pages"
      [ngModel]="dataProdSrv.$pageSize | async"
      [compareWith]="compare"
      (change)="changeNumItemsOnPage($event)"
    >
      <option class="option-area" value="10">10 Items</option>
      <option class="option-area" value="20">20 Items</option>
      <option class="option-area" value="30">30 Items</option>
    </select>
  </div>
</div>
